@{
    ViewBag.Title = "Home Page";
}

@section css {
    <link rel="stylesheet" href="~/Content/personal.css" type="text/css" />
}

@section scripts {
    <script src="~/Scripts/services/contacto.service.js"></script>
    <script>
        function domIsReadyGeneralInfo(){
            (async function () {
                toggleGeneralLoader();
                const initialSettings = await getContactosInformation();
                for (let key in initialSettings){
                    $(`#general-${key}`).text(initialSettings[key]);
                }
                toggleGeneralLoader();
            })();
        }

        function toggleGeneralLoader(){            
            if ($("#general:hidden").length === 1) {
                $(`#general`).attr("style", "display: block");
                $(`#general-skeleton`).attr("style", "display: none");
                return;
            }

            $(`#general-skeleton`).attr("style", "display: block");
            $(`#general`).attr("style", "display: none");
        }
        
        $(document).ready(domIsReadyGeneralInfo);
    </script>
}

<div id="general">
    <div class="card general-info">
        <div class="card-header">
            <h3>Datos del contacto</h3>
            <i class="fa-solid fa-arrow-down"></i>
            <i class="fa-solid fa-arrow-up" style="display:none"></i>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="column">
                    <label>Teléfono celular:</label>
                    <span type="text" id="general-telefono"></span>
                </div>
                <div class="column">
                    <label>Domicilio Permanente:</label>
                    <span type="text" id="general-domicilioPermanente"></span>
                </div>                         
            </div>        
            <div class="row">
                <div class="column">
                    <label>Domicilio Local:</label>
                    <span type="text" id="general-domicilioLocal"></span>
                </div>   
                <div class="column">
                    <label>Correo Personal:</label>
                    <span type="text" id="general-correo"></span>
                </div>                         
            </div>
            <div class="row">
                <div class="column">
                    <label>Correo UDEM:</label>
                    <span type="text" id="general-correoUDEM"></span>
                </div>  
            </div>
        </div>
    </div>

    <div class="card general-info">
        <div class="card-header">
            <h3>Datos de padres o tutor</h3>
            <i class="fa-solid fa-arrow-down"></i>
            <i class="fa-solid fa-arrow-up" style="display:none"></i>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="column">
                    <label>Nombre padre:</label>
                    <span type="text" id="general-nombrePadre"></span>
                </div>
                <div class="column">
                    <label>Nombre madre:</label>
                    <span type="text" id="general-nombreMadre"></span>
                </div>                 
            </div>        
            <div class="row">
                <div class="column">
                    <label>Teléfono celular padre:</label>
                    <span type="text" id="general-telefonoPadre"></span>
                </div>
                <div class="column">
                    <label>Teléfono celular madre:</label>
                    <span type="text" id="general-telefonoMadre"></span>
                </div>            
            </div>
            <div class="row">
                <div class="column">
                    <label>Correo padre:</label>
                    <span type="text" id="general-correoPadre"></span>
                </div>
                <div class="column">
                    <label>Correo madre:</label>
                    <span type="text" id="general-correoMadre"></span>
                </div>            
            </div>
            <div class="row">
                <div class="column">
                    <label>Nombre Tutor:</label>
                    <span type="text" id="general-nombreTutor"></span>
                </div>                     
            </div>
            <div class="row">
                <div class="column">
                    <label>Teléfono celular tutor:</label>
                    <span type="text" id="general-telefonoTutor"></span>
                </div>
                <div class="column">
                    <label>Correo tutor:</label>
                    <span type="text" id="general-correoTutor"></span>
                </div>            
            </div>
        </div>
    </div>

    <div class="card general-info">
        <div class="card-header">
            <h3>Datos contacto emergencia</h3>
            <i class="fa-solid fa-arrow-down"></i>
            <i class="fa-solid fa-arrow-up" style="display:none"></i>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="column">
                    <label>Nombre:</label>
                    <span type="text" id="general-emergenciaNombre"></span>
                </div>
                <div class="column">
                    <label>Telefono:</label>
                    <span type="text" id="general-emergenciaTelefono"></span>
                </div>                   
            </div>               
        </div>
    </div>
</div>


<div id="general-skeleton" style="display:none">
    <div class="card general-info">
        <div class="card-header">
            <h3>Datos del contacto</h3>
            <i class="fa-solid fa-arrow-down"></i>
            <i class="fa-solid fa-arrow-up" style="display:none"></i>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="column">
                    <div class="skeleton skeleton-text"></div>
                </div>
                <div class="column">
                    <div class="skeleton skeleton-text"></div>
                </div>  
                <div class="column">
                    <div class="skeleton skeleton-text"></div>
                </div>          
            </div>        
            <div class="row">
                <div class="column">
                    <div class="skeleton skeleton-text"></div>
                </div>
                <div class="column">
                    <div class="skeleton skeleton-text"></div>
                </div>            
            </div>
        </div>
    </div>

    <div class="card general-info">
        <div class="card-header">
            <h3>Datos de padres o tutor</h3>
            <i class="fa-solid fa-arrow-down"></i>
            <i class="fa-solid fa-arrow-up" style="display:none"></i>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="column">
                   <div class="skeleton skeleton-text"></div>
                </div>
                <div class="column">
                    <div class="skeleton skeleton-text"></div>
                </div>                 
            </div>        
            <div class="row">
                <div class="column">
                   <div class="skeleton skeleton-text"></div>
                </div>
                <div class="column">
                    <div class="skeleton skeleton-text"></div>
                </div>            
            </div>
            <div class="row">
                <div class="column">
                    <div class="skeleton skeleton-text"></div>
                </div>
                <div class="column">
                    <div class="skeleton skeleton-text"></div>
                </div>            
            </div>
            <div class="row">
                <div class="column">
                   <div class="skeleton skeleton-text"></div>
                </div>                     
            </div>
            <div class="row">
                <div class="column">
                    <div class="skeleton skeleton-text"></div>
                </div>
                <div class="column">
                    <div class="skeleton skeleton-text"></div>
                </div>            
            </div>
        </div>
    </div>

    <div class="card general-info">
        <div class="card-header">
            <h3>Datos contacto emergencia</h3>
            <i class="fa-solid fa-arrow-down"></i>
            <i class="fa-solid fa-arrow-up" style="display:none"></i>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="column">
                    <div class="skeleton skeleton-text"></div>
                </div>
                <div class="column">
                    <div class="skeleton skeleton-text"></div>
                </div>                   
            </div>               
        </div>
    </div>
</div>