@{
    ViewBag.Title = "Home Page";
}

@section css {
    <link rel="stylesheet" href="~/Content/academicos.css" type="text/css" />
}

@section scripts {
    <script src="~/Scripts/services/academicos.service.js"></script>
    <script>
        let auxuUrlHorarios= "";
        function domIsReadyAdministrativeInfo(){
            (async function () {
                toggleAcademicLoader();
                const academicResponse = await getAcademicInformation();

                if (!academicResponse) {
                    toggleAcademicLoader();
                    console.error("Ocurrio un error inesperado")
                    return;
                }

                const {
                    datosAcademicos,
                    estatusAlumno,   
                    urlHorarios                
                } = academicResponse;

                auxuUrlHorarios = urlHorarios;                

                for (let key in datosAcademicos){                    
                   $(`#academicos-${key}`).text(datosAcademicos[key]);
                }            

                toggleAcademicLoader();
            })();
        }

        function toggleAcademicLoader(){
            if ($("#administrativos:hidden").length === 1) {
                $(`#administrativos`).attr("style", "display: block");
                $(`#administrativos-skeleton`).attr("style", "display: none");
                return;
            }

            $(`#administrativos-skeleton`).attr("style", "display: block");
            $(`#administrativos`).attr("style", "display: none");
        }

        function handleClickMapaCurricular(){
            window.open("https://udemsnprod.service-now.com/ventana_amarilla?id=vtna2_kb_knowledge&kb_category=b72ec87e1b25e5107532baebcc4bcb28", '_blank').focus();
        }

        function handleClickHorario(){            
            window.open(auxuUrlHorarios, '_blank').focus();
        }

        $(document).ready(domIsReadyAdministrativeInfo);
        $("#academicos-mapaCurricular").click(handleClickMapaCurricular)
        $("#academicos-horario").click(handleClickHorario)
    </script>
}

<div id="academicos">
    
    <div class="row sub-header">      
        <!-- <div class="column-card" id="academicos-mapaCurricular">
            <strong>Mapa Curricular</strong>
        </div> -->
        <div class="column-card" id="academicos-horario">
            <strong>Horario de Clases</strong>
        </div>
        <!-- <div class="column-card" id="academicos-kardex">
            <strong>Kárdex</strong>
        </div> -->
    </div>            

    <div class="card">
        <div class="card-header">
            <h3>Avance académico</h3>
            <i class="fa-solid fa-arrow-down"></i>
            <i class="fa-solid fa-arrow-up" style="display:none"></i>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="column">
                    <strong>Créditos académicos requeridos</strong>                                        
                    <span type="text" id="academicos-creditosRequeridos"></span>
                </div>
                <div class="column">
                    <strong>Créditos académicos aprobados</strong>                                        
                    <span type="text" id="academicos-creditosAprobados"></span>
                </div>
                <div class="column">
                    <strong>Programa</strong>                                        
                    <span type="text" id="academicos-programa"></span>                    
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h3>Estatus académico</h3>
            <i class="fa-solid fa-arrow-down"></i>
            <i class="fa-solid fa-arrow-up" style="display:none"></i>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="column">
                    <label>Regular</label>
                </div>
                <div class="column">
                    <label>Cantidad de materias que ha dado de baja el estudiante:</label>
                    <span id="academicos-materiasBajas"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h3>Servicio social</h3>
            <i class="fa-solid fa-arrow-down"></i>
            <i class="fa-solid fa-arrow-up" style="display:none"></i>
        </div>
        <div class="card-body">     
        <div class="row">                               
                <div class="column">
                    <span id="academicos-servicioSocial"></span>
                </div>
            </div>                 
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h3>TOEFL</h3>
            <i class="fa-solid fa-arrow-down"></i>
            <i class="fa-solid fa-arrow-up" style="display:none"></i>
        </div>
        <div class="card-body">     
        <div class="row">
                <div class="column">
                    <strong>Manejo del idioma Inglés</strong>
                </div>
                <div class="column">
                    <span id="academicos-toeflInd"></span>
                </div>               
            </div>       
            <div class="row">
                <div class="column">
                    <label>Fecha:</label>
                    <span type="text" id="academicos-toeflTestDate"></span>
                </div>
                 <div class="column">
                    <label>Score:</label>
                    <span type="text" id="academicos-toeflTestScore"></span>
                </div>
            </div>
        </div>
    </div>
</div>