@{
    ViewBag.Title = "Home Page";
}

@section scripts {
    <script src="~/Scripts/services/academicos.service.js"></script>
    <script>
        function domIsReadyAdministrativeInfo(){
            (async function () {
                toggleAcademicLoader();
                const academicResponse = await getAcademicInformation();

                if (!academicResponse) {
                    toggleAcademicLoader();
                    console.error("Ocurrio un error inesperado")
                    return;
                }

                const {
                    datosAcademicos,
                    estatusAlumno,                   
                } = academicResponse;

                for (let key in datosAcademicos){
                    if(key === "toeflTestScore" || key === "toeflTestDate"){
                        $(`#academicos-${key}`).val(datosAcademicos[key]);
                        continue;
                    }
                   $(`#academicos-${key}`).text(datosAcademicos[key]);
                }

                //$("#administrativos-body-beca").empty();
                //for (let row of becasPeriodos) {
                //    $("#administrativos-body-beca").append(`
                //    <tr>
                //        <td>${row.BECA_NOMBRE}</td>
                //        <td>${row.BECA_PORCENTAJE}</td>
                //    </tr>
                //    `)
                //}

                //$("#administrativos-body-documentos").empty();
                //for (let row of documentosEntregados) {
                //    $("#administrativos-body-documentos").append(`
                //    <tr>
                //        <td>${row.CODIGO}</td>
                //        <td>${row.DESCRIPCION}</td>
                //        <td>${row.ORIGEN}</td>
                //    </tr>
                //    `)
                //}

                //$("#administrativos-bloqueos").empty();
                //for (let row of bloqueos) {
                //    $("#administrativos-bloqueos").append(`
                //        <li>${row.stvhldd_desc}</li>
                //    `)
                //}

                toggleAcademicLoader();
            })();
        }

        function toggleAcademicLoader(){
            if ($("#administrativos:hidden").length === 1) {
                $(`#administrativos`).attr("style", "display: block");
                $(`#administrativos-skeleton`).attr("style", "display: none");
                return;
            }

            $(`#administrativos-skeleton`).attr("style", "display: block");
            $(`#administrativos`).attr("style", "display: none");
        }

        $(document).ready(domIsReadyAdministrativeInfo);
    </script>
}

<div id="academicos">
    <div class="card">
        <div class="card-header">
            <h3>Resumen ejecutivo académico</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="column">
                    <strong>Créditos académicos requeridos</strong>                    
                    <span id="academicos-creditosRequeridos"></span>
                </div>
                <div class="column">
                    <strong>Créditos académicos aprobados</strong>                    
                    <span id="academicos-creditosAprobados"></span>
                </div>
                <div class="column">
                    <strong>Programa</strong>                    
                    <span id="academicos-programa"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="column">
                    <strong>Manejo del idioma Inglés</strong>
                </div>
                <div class="column">
                    <span id="academicos-toeflInd"></span>
                </div>
                <div class="column">
                    <strong>Servicio Social</strong>
                </div>
                <div class="column">
                    <span id="academicos-servicioSocial"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h3>Estatus Académico</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="column">
                    <label>Regular</label>
                </div>
                <div class="column">
                    <label>Cantidad de materias que ha dado de baja el estudiante:</label>
                    <span id="academicos-materiasBajas"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h3>Resultado exámenes de ubicación</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="column">
                    <table>
                        <thead>
                            <tr>
                                <th>Tipo de examen</th>
                                <th>Resultado</th>
                            </tr>
                        </thead>
                        <tbody id="administrativos-body-documentos">
                        <tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h3>Historial de resultados del examen TOEFL</h3>
        </div>
        <div class="card-body">            
            <div class="row">
                <div class="column">
                    <label>Fecha:</label>
                    <input type="text" id="academicos-toeflTestDate" disabled />
                </div>
                 <div class="column">
                    <label>Score:</label>
                    <input type="text" id="academicos-toeflTestScore" disabled />
                </div>
            </div>
        </div>
    </div>
</div>