@{
    ViewBag.Title = "Datos Administrativos Page";
}

@section scripts {
    <script src="~/Scripts/services/administrativos.service.js"></script>
    <script>
        function domIsReadyAdministrativeInfo(){
            (async function () {
                toggleAdministrativeLoader();
                const administrativeResponse = await getAdministrativeInformation();

                if (!administrativeResponse) {        
                    toggleAdministrativeLoader();
                    console.error("Ocurrio un error inesperado")
                    return;
                }

                const {
                    documentosEntregados,
                    becasPeriodos,
                    datosAdministrativos
                } = administrativeResponse;

                for (let key in datosAdministrativos){
                    $(`#administrativos-${key}`).val(datosAdministrativos[key]);
                }

                for (let row of becasPeriodos) {
                    $("#administrativos-body-beca").append(`
                    <tr>
                        <td>${row.BECA_NOMBRE}</td>
                        <td>${row.BECA_PORCENTAJE}</td>
                    </tr>
                    `)
                }

                for (let row of documentosEntregados) {
                    $("#administrativos-body-documentos").append(`
                    <tr>
                        <td>${row.CODIGO}</td>
                        <td>${row.DESCRIPCION}</td>
                        <td>${row.ORIGEN}</td>
                    </tr>
                    `)
                }

                toggleAdministrativeLoader();
            })();
        }

        function toggleAdministrativeLoader(){  
            if ($("#administrativos:hidden").length === 1) {
                $(`#administrativos`).attr("style", "display: block");
                $(`#administrativos-skeleton`).attr("style", "display: none");
                return;
            }

            $(`#administrativos-skeleton`).attr("style", "display: block");
            $(`#administrativos`).attr("style", "display: none");
        }
        
        $(document).ready(domIsReadyAdministrativeInfo);
    </script>
}

<div id="administrativos">
    <div class="card">
        <div class="card-header">
            <h3>Seguro Gastos Medicos</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="column">
                    <label>Seguro GMM UDEM:</label>
                    <input type="text" id="administrativos-seguroUdem" disabled />
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h3>Ayuda Financiera</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="column">
                    <label>Historico de periodos con beca:</label>
                    <table>
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Porcentaje</th>
                            </tr>
                        </thead>
                        <tbody id="administrativos-body-beca">                          
                        <tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h3>Terminos y condiciones Firmados</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="column">
                    <label>Acepto terminos y condiciones:</label>
                    <input type="text" id="administrativos-terminosCond" disabled />
                </div>
                <div class="column">
                    <label>Fecha:</label>
                    <input type="text" id="administrativos-terminosFecha" disabled />
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h3>Bloqueos</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="column">
                    <label>Tipo de bloqueos:</label>
                    <input type="text" id="administrativos-bloqueo" disabled/>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h3>Documentos entregados a Escolar</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="column">                    
                    <table>
                        <thead>
                            <tr>
                                <th>Codigo</th>
                                <th>Descripcion</th>
                                <th>Origen</th>
                            </tr>
                        </thead>
                        <tbody id="administrativos-body-documentos">
                        <tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h3>Programa de Talento Becario</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="horizontal-column">
                    <strong>Periodo:</strong>                    
                    <input style="margin-left: 0.5rem;" type="text" id="administrativos-numPeriodo" disabled />                    
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <label>Nombre del formador:</label>
                    <input type="text" id="administrativos-formadorNombre" disabled />
                </div>
                <div class="column">
                    <label>Puesto:</label>
                    <input type="text" id="administrativos-formadorPuesto" disabled />
                </div>
                <div class="column">
                    <label>Correo electronico:</label>
                    <input type="text" id="administrativos-formadorCorreo" disabled />
                </div>
            </div>
        </div>
    </div>
</div>


<div id="administrativos-skeleton" style="display:none">
    <div class="card">
        <div class="card-header">
            <h3>Seguro Gastos Medicos</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="column">
                    <div class="skeleton skeleton-text"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h3>Ayuda Financiera</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="column">
                    <div class="skeleton skeleton-text"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h3>Terminos y condiciones Firmados</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="column">
                    <div class="skeleton skeleton-text"></div>
                </div>
                <div class="column">
                    <div class="skeleton skeleton-text"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h3>Bloqueos</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="column">
                    <div class="skeleton skeleton-text"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h3>Documentos entregados a Escolar</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="column">
                    <div class="skeleton skeleton-text"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h3>Programa de Talento Becario</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="horizontal-column">
                    <div class="skeleton skeleton-text"></div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="skeleton skeleton-text"></div>
                </div>
                <div class="column">
                    <div class="skeleton skeleton-text"></div>
                </div>
                <div class="column">
                    <div class="skeleton skeleton-text"></div>
                </div>
            </div>
        </div>
    </div>
</div>