@{
    ViewBag.Title = "Datos Administrativos Page";
}

@section css {
    <link rel="stylesheet" href="~/Content/administrativo.css" type="text/css" />
}

@section scripts {
    <script src="~/Scripts/services/administrativos.service.js"></script>
    <script>
        function domIsReadyAdministrativeInfo(){
            (async function () {
                toggleAdministrativeLoader();
                const administrativeResponse = await getAdministrativeInformation();

                if (!administrativeResponse) {        
                    toggleAdministrativeLoader();
                    console.error("Ocurrio un error inesperado")
                    return;
                }

                const {
                    documentosEntregados,
                    becasPeriodos,
                    datosAdministrativos,
                    bloqueos
                } = administrativeResponse;

                for (let key in datosAdministrativos){
                    $(`#administrativos-${key}`).text(datosAdministrativos[key]);
                }

                $("#administrativos-body-beca").empty();
                for (let row of becasPeriodos) {
                    $("#administrativos-body-beca").append(`
                    <tr>
                        <td>${row.BECA_PERIODO}</td>
                        <td>${row.BECA_NOMBRE}</td>                        
                        <td>${row.BECA_PORCENTAJE}</td>
                        <td>${row.BECA_TIPO}</td>
                    </tr>
                    `)
                }

                $("#administrativos-body-documentos").empty();
                for (let row of documentosEntregados) {
                    $("#administrativos-body-documentos").append(`
                    <tr>
                        <td>${row.CODIGO}</td>
                        <td>${row.DESCRIPCION}</td>
                        <td>${row.ORIGEN}</td>
                    </tr>
                    `)
                }

                $("#administrativos-bloqueos").empty();
                for (let row of bloqueos) {
                    $("#administrativos-bloqueos").append(`
                        <li>${row.stvhldd_desc}</li>
                    `)
                }

                toggleAdministrativeLoader();
            })();
        }

        function toggleAdministrativeLoader(){  
            if ($("#administrativos:hidden").length === 1) {
                $(`#administrativos`).attr("style", "display: block");
                $(`#administrativos-skeleton`).attr("style", "display: none");
                return;
            }

            $(`#administrativos-skeleton`).attr("style", "display: block");
            $(`#administrativos`).attr("style", "display: none");
        }
        
        $(document).ready(domIsReadyAdministrativeInfo);
    </script>
}

<div id="administrativos">
    <div class="card">
        <div class="card-header">
            <h3>Seguro gastos médicos</h3>
            <i class="fa-solid fa-arrow-down"></i>
            <i class="fa-solid fa-arrow-up" style="display:none"></i>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="column">
                    <label>Seguro GMM UDEM:</label>
                    <span type="text" id="administrativos-seguroUdem"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h3>Ayuda financiera</h3>
            <i class="fa-solid fa-arrow-down"></i>
            <i class="fa-solid fa-arrow-up" style="display:none"></i>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="column">
                    <label>Histórico de períodos con beca:</label>
                    <table>
                        <thead>
                            <tr>
                                <th>Período</th>
                                <th>Nombre</th>
                                <th>Porcentaje</th>
                                <th>Tipo</th>
                            </tr>
                        </thead>
                        <tbody id="administrativos-body-beca">
                        <tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h3>Programa de talento becario</h3>
            <i class="fa-solid fa-arrow-down"></i>
            <i class="fa-solid fa-arrow-up" style="display:none"></i>
        </div>
        <div class="card-body">            
            <div class="row">
                <div class="column">
                    <label>Nombre del formador:</label>
                    <span type="text" id="administrativos-formadorNombre"></span>
                </div>
                <div class="column">
                    <label>Puesto:</label>
                    <span type="text" id="administrativos-formadorPuesto"></span>
                </div>
                <div class="column">
                    <label>Correo electrónico:</label>
                    <span type="text" id="administrativos-formadorCorreo"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h3>Términos y condiciones firmados</h3>
            <i class="fa-solid fa-arrow-down"></i>
            <i class="fa-solid fa-arrow-up" style="display:none"></i>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="column">
                    <label>Acepto términos y condiciones:</label>
                    <span type="text" id="administrativos-terminosCond"></span>
                </div>
                <div class="column">
                    <label>Fecha:</label>
                    <span type="text" id="administrativos-terminosFecha"></span>
                </div>
                <div class="column">                    
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h3>Bloqueos</h3>
            <i class="fa-solid fa-arrow-down"></i>
            <i class="fa-solid fa-arrow-up" style="display:none"></i>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="column">
                    <label>Tipo de bloqueos:</label>
                    <ul id="administrativos-bloqueos"></ul>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h3>Estatus de documentos entregados a escolar</h3>
            <i class="fa-solid fa-arrow-down"></i>
            <i class="fa-solid fa-arrow-up" style="display:none"></i>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="column">
                    <table>
                        <thead>
                            <tr>
                                <th>Codigo</th>
                                <th>Descripción</th>
                                <th>Entregado</th>
                            </tr>
                        </thead>
                        <tbody id="administrativos-body-documentos">
                        <tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="administrativos-skeleton" style="display:none">
    <div class="card">
        <div class="card-header">
            <h3>Seguro gastos médicos</h3>
            <i class="fa-solid fa-arrow-down"></i>
            <i class="fa-solid fa-arrow-up" style="display:none"></i>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="column">
                    <div class="skeleton skeleton-text"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h3>Ayuda financiera</h3>
            <i class="fa-solid fa-arrow-down"></i>
            <i class="fa-solid fa-arrow-up" style="display:none"></i>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="column">
                    <div class="skeleton skeleton-text"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h3>Terminos y condiciones firmados</h3>
            <i class="fa-solid fa-arrow-down"></i>
            <i class="fa-solid fa-arrow-up" style="display:none"></i>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="column">
                    <div class="skeleton skeleton-text"></div>
                </div>
                <div class="column">
                    <div class="skeleton skeleton-text"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h3>Bloqueos</h3>
            <i class="fa-solid fa-arrow-down"></i>
            <i class="fa-solid fa-arrow-up" style="display:none"></i>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="column">
                    <div class="skeleton skeleton-text"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h3>Documentos entregados a escolar</h3>
            <i class="fa-solid fa-arrow-down"></i>
            <i class="fa-solid fa-arrow-up" style="display:none"></i>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="column">
                    <div class="skeleton skeleton-text"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h3>Programa de talento becario</h3>
            <i class="fa-solid fa-arrow-down"></i>
            <i class="fa-solid fa-arrow-up" style="display:none"></i>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="horizontal-column">
                    <div class="skeleton skeleton-text"></div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="skeleton skeleton-text"></div>
                </div>
                <div class="column">
                    <div class="skeleton skeleton-text"></div>
                </div>
                <div class="column">
                    <div class="skeleton skeleton-text"></div>
                </div>
            </div>
        </div>
    </div>
</div>