table > thead > tr {
  display: flex;
  flex-direction: row;
  width: 100%;
}

table > thead > tr > th {
  flex: 1;
}

table > thead > tr > td {
  flex: 1;
}

table > tbody > tr {
  display: flex;
  flex-direction: row;
  width: 100%;
}

table > tbody > tr > th {
  flex: 1;
}

table > tbody > tr > td {
  flex: 1;
}

.linea-completa {
    width: 100%;
    border: 1px solid black;
}

.tab-content-report {
    display: none;
}

.tab-content-report.active {
    display: block;
}

.area-item {
    font-size: 17px;
    margin-bottom: 34px;
}

.checkbox-area {
    height: 18px;
    width: 10%;
}

ul li::before {
    content: "";
    font-size: 1em;
}

.area-item label {
    display: flex;
    align-items: center;
}

.area-item input[type="checkbox"] {
    margin-right: 8px; /* Espacio entre el checkbox y el texto */
}

ol.reversed {
    counter-reset: item;
}

ol.reversed li {
    display: list-item;
    counter-increment: item;
    position: relative;
}

ol.reversed li::before {
    content: counter(item);
    position: absolute;
    left: -2em; /* Ajusta el espacio antes del número */
    width: 1.5em; /* Ajusta el ancho del número */
    text-align: right;
    direction: rtl;
}