.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 22rem;
  min-width: 22rem;
  padding: 1rem 0;
}

.details_image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details_image-container-button {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 5rem;
}

.details_title {
  margin: 0 2rem;
}

.details_details {
  margin: 0 2rem;
}

.details_details > .row {
  margin: 1.5rem 0.5rem;
}

.details_details > .row > .column:first-child {
  border-right: 1px solid var(--border-color);
}

.details_details-row {
  width: 100%;
  margin: 0.6rem 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.details_details-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.details_details-column > p,
.details_details-column > strong {
  font-size: 17px;
}
