/* Style the tab */
.tabs {
  overflow: hidden;
  background-color: transparent;
  border-bottom: 1px solid var(--border-color);
}

/* Style the buttons inside the tab */
.tabs a {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  text-decoration: none;
  font-weight: bold;
  font-size: var(--font-size-xxs);
  letter-spacing: 0;
  line-height: 10px;
}

/* Change background color of buttons on hover */
/* .tabs a:hover {
  background-color: var(--primary-color);
  color: #fff;
} */

/* Create an active/current tablink class */
.tabs a.active {
  border-bottom: 2px solid var(--primary-color);
  color: var(--primary-color);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
