:root {
  --primary-color: #6572cd;
  --secondary-color: #ffffff;
  --background-color: #fffeff;
  --card-background-color: #fff;
  --border-color: #d4d4d5;
  --border-radius: 5px;
  --font-color: #535252;
  --font-secondary-color: #ffffff;
  --font-family-montserrat: "Montserrat", Helvetica;
}
